@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #006edc;

.react-calendar {
    width: 100%;
    background: white;
    // border: 1px solid #ddd;
    font-family: 'Archivo', 'Helvetica', sans-serif;
    line-height: 1.125em;
    border-radius: 10px;
    overflow: hidden;
    padding: 0.5rem;
}

.react-calendar--doubleView {
    width: 500px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
}

.react-calendar__navigation button {
    // min-width: 44px;
    font-size: large;
    background: none;
    padding: 20px 20px;

}

.react-calendar__navigation button:disabled {
    @apply text-gray-300 cursor-not-allowed;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    @apply text-cultark-blue rounded-lg bg-gray-200;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 1.12em;
    font-weight: bold;

    &__weekday {
        padding: 14px;
    }
}

@media screen and (max-width: 768px) {
    .react-calendar__month-view__weekdays {
        font-size: 0.8em;
    }
}


.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
}


.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
    color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 1.1em 0.5em;
}

.react-calendar__tile {
    max-width: 100%;
    padding: 15px 5px;
    background: none;
    text-align: center;
    font: inherit;
    font-size: 1.1em;
    border-radius: 5px;
}

.react-calendar__tile:disabled {
    &:hover {
        background-color: transparent !important;
        cursor: not-allowed !important;
    }

    color: lightgray;
    border-radius: 0px !important;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
    color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    @apply bg-gray-300
}

.react-calendar__tile--now {
    @apply font-bold text-cultark-blue;
}

// .react-calendar__tile--now:enabled:hover,
// .react-calendar__tile--now:enabled:focus {
//   // background: #ffffa9;
//   // @apply bg-cultark-blue text-white;

// }

.react-calendar__tile--hasActive,
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus,
.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    @apply bg-cultark-blue text-white;
}


.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}

.react-calendar__month-view__days__day--weekend {
    &:hover {
        background-color: transparent !important;
        cursor: not-allowed !important;
    }

    color: lightgray;
    border-radius: 0px !important;
}